{% if include.type == 'mettre-a-jour' %}
<aside role="alert">
    <strong>À mettre à jour !</strong>
    <p>Cette page ou section est obsolète et doit être mise à jour.</p>
</aside>
{% elsif include.type == 'archive' %}
<aside role="alert">
    <strong>Archivé.</strong>
    <p>Cette page ou section est obsolète, mais ne sera pas mise à jour, elle est concervée telle quelle en tant qu'archive</p>
</aside>
{% elsif include.type == 'redaction-en-cours' %}
<aside role="alert">
    <strong>Rédaction en cours !</strong>
    <p>Cette page ou section a été publiée en cours de rédaction, elle peut contenir des incohérences et des phrases incomplètes.</p>
</aside>
{% elsif include.type == 'pas-interessant' %}
<aside role="alert">
    <strong>Pas interessant.</strong>
    <p>Cette page ou section est utile en interne mais aura un interet plus que limité pour une personne exterieure au projet. Ne perdez pas votre temps ici.</p>
</aside>
{% else %}
<aside role="alert">
    <strong>{{include.title}}</strong>
    <p>{{include.text}}</p>
</aside>
{% endif %}
