<div class="card basic-tech">
  <div class=content>
    <div class="header">
      <div class="title attaque">Attaque de base</div>
    </div>
    <div class="steps">
      {% include step.html class='C' text='Corps À Corps' %}
      {% include step.html class='E' text='Blesser 1' %}
  </div>

    <div class="header">
      <div class="title defense">Défense de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Bloquer 1' %}
  </div>

    <div class="header">
      <div class="title deplacement">Déplacement de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Se Déplacer 1' %}
  </div>

    <div class="header">
      <div class="title concentration">Concentration de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Piocher 1' %}
  </div>

    <div class="header">
      <div class="title rhetorique">Rhétorique de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Déstabiliser' %}
  </div>

    <div class="footer">
      <div class="id">Techniques de Base</div>
      <div class="copyright">BattleFight</div>
    </div>
  </div>
</div>
