<div class="card basic-tech">
  <div class=content>
    <div class="header">
      <div class="title attaque">Attaque de base</div>
    </div>
    <div class="steps">
      {% include step.html class='C' text='Corps À Corps' %}
      {% include step.html class='E' text='Blesser 1' %}
  </div>
    <div class="header">
      <div class="title attaque">Défense de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Bloquer 1' %}
  </div>
    <div class="header">
      <div class="title attaque">Déplacement de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Se Déplacer 1' %}
  </div>
    <div class="header">
      <div class="title attaque">Concentration de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Piocher 1' %}
  </div>
    <div class="header">
      <div class="title attaque">Rhétorique de base</div>
    </div>
    <div class="steps">
      {% include step.html class='E' text='Déstabiliser' %}
  </div>

    <div class="footer">
      <div class="id"><span class="edition">Techniques de Base</div>
      <div class="copyright">BattleFight</div>
    </div>
  </div>
</div>"
