{% if include.blank %}

{% else %}

{% assign edition = include.e | default: 'I' %}
{% assign edition_obj = site.data.editions | find: 'id', edition | first %}

{% assign version = include.v | default: edition_obj.current-version %}
{% assign version_obj = edition_obj.versions | find: 'id', version | first %}

{% assign number = include.n %}
{% assign card = site.data[version_obj.cards] | where: 'ID', number | first %}

{% assign treatment = include.t | default : 'ST' %}

{% assign title = card.TITLE | strip %}
{% assign type = card.TYPE | strip %}
{% assign illu_src = version_obj.illu-dir | append: number | append: '.jpg' %}
{% assign steps_classes = card.STEPS | strip %}

{% endif %}

<div class="card"
  data-title="{{title}}"
  data-type="{{type}}"
  data-edition="{{edition}}"
  data-number="{{number}}"
  data-version="{{version}}"
  >
  <div class=content>
    <div class="header">
      <div class="title">{{title}}</div>
      <div class="types type">{{type}}</div>
    </div>
    <div class=illu><img src="{{illu_src}}"></div>
    <div class="steps">
      {% assign steps_size_minus = steps_classes.size | minus: 1 %}
      {% for i in (0..steps_size_minus) %}
      {% assign step_class = steps_classes | slice: i %}
      {% assign step_text_column = i | plus: 1 | prepend: 'STEP' %}
      {% assign step_text = card[step_text_column] %}
      {% include step.html class=step_class text=step_text %}
      {% endfor %}
  </div>
    <div class="footer">
      <div class="id"><span class="edition">{{edition}}</span> <span class="number">{{number}}</span> <span class="treatment">{{treatment}}</span> <span class="version">{{version}}</span></div>
      <div class="copyright">BattleFight <span class="year">2025</span></div>
    </div>
  </div>
</div>
