<div class="card" data-id="{{include.id}}">
  <div class=content>
    <div class="header">
      <div class=title></div>
      <div class=types>
        <span class=primary_types></span>
      </div>
    </div>
    <div class=illu><img></img></div>
    <div class=rules>
      <template id="rule-template">
        <div class="rule">
          <div class="rule_text"></div>
        </div>
      </template>
    </div>
    <div class="footer">
    <span class="id"></span><span>BattleFight · Test · 2025</span>
    </div>
  </div>
</div>

