{% if {{include.id}} %}

<div class="card" data-id="{{include.id}}">
  <div class=content>
    <div class="header">
      <div class=title></div>
      <div class=types>
        <span class=primary_types></span>
      </div>
    </div>
    <div class=illu><img></img></div>
    <div class=rules>
      <template id="rule-template">
        <div class="rule">
          <div class="rule_text"></div>
        </div>
      </template>
    </div>
    <div class="footer">
    <span class="id"></span><span>BattleFight · Test · 2025</span>
    </div>
  </div>
</div>

{% else %}

{% assign edition = include.e | default: 'I' %}
{% assign version = include.v | default: 'alpha' %}
{% assign number = include.n %}

{% assign edition_obj = site.data.editions | find: 'id', edition | first %}
{% assign version_obj = edition_obj.versions | find: 'id', version | first %}
{% assign cards = site.data[version_obj.cards] %}

{% assign card = cards | find: 'ID', '05' %}
{% assign card = cards | slice: 5 | first %}
{% assign card = cards | find: 'ID', 02 | first %}

{% assign title = card.TITLE | strip %}
{% assign type = card.TYPE | strip %}
{% assign steps_classes = card.STEPS | strip %}

<pre>
  edition: {{edition}}
  version: {{version}}
  number: {{number}}
  edition_obj : {{edition_obj | inspect}}
  version_obj : {{version_obj | inspect}}
  card : {{card | inspect}}
      title : {{title}}

</pre>

<div class="card">
  <div class=content>
    <div class="header">
      <div class=title>{{title}}</div>
      <div class=types>
        <span class=primary_types>{{type}}</span>
      </div>
    </div>
    <div class=illu><img></img></div>
    <div class=rules>
      {% assign step_class = steps_classes | slice: 0 %}
      {% assign step_text_column = 'STEP' | append: 0 + 1 %}
      {% assign step_text = card[step_text_column] %}

      {% include step.html class=step_class text=step_text %}

    </div>
    <div class="footer">
    <span class="id">{{edition}} ({{version}}) {{number}}</span><span>BattleFight 2025</span>
    </div>
  </div>
</div>

{% endif %}
