  <footer>
    <nav>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/legal">Mentions légales</a></li>
        <li><a href="{{site.github.repository_url}}/edit/main/{{page.path}}">Modifier</a></li>
        <li><a href="{{site.github.repository_url}}">Dépôt</a></li>
      </ul>
    </nav>
    <p><a href="{{site.github.repository_url}}/actions">Dernière mise à jour</a> du site le {{ "now" | date: "%d/%m/%Y" }}.</p>
    <p>Ce travail est placé sous <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License CC BY-NC-SA 4.0</a>.</p>
    <p>BattleFight 2020 - {{"now" | date: "%Y"}}</p>
  </footer>
