
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/font.css?v=' | append: site.github.build_revision | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/card.css?v=' | append: site.github.build_revision | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/flipcards.css?v=' | append: site.github.build_revision | relative_url }}"/>

  <script src="/assets/js/flipcards.js"></script>

  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  {% if page.pagedjs == true %}
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <link href="/assets/css/interface.css" rel="stylesheet" type="text/css"/>
  {% endif %}
  {% seo %}
