<div class="page-list">
  <ul>
  {% assign mydir = page.url | split: '/' | where_exp: "a", "a.size > 0" | join: '/' %}
  {% for item in site.pages | sort: "title" %}
    {% assign mytitle = item.title | default: item.url %}
    {% assign itemdir = item.url | split: '/' | where_exp: "a", "a.size > 0" | reverse | slice: 1, 99 | reverse | join: '/' %}
    {% if itemdir == mydir %}
    <li>
      <a href="{{ item.url }}">{{ mytitle }}</a>{% if item.description %} <span>{{ item.description }}</span>{% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

