{% if include.class == 'E' %}
{% assign class = 'effet' %}
{% elsif include.class == 'C' %}
{% assign class = 'condition' %}
{% elsif include.class == 'P' %}
{% assign class = 'permanente' %}
{% elsif include.class == 'I' %}
{% assign class = 'intervention' %}
{% endif %}
{% assign text = include.text %}

{% assign text = text | replace: 'Attaque', '<span class="inline-type attaque">Attaque</span>' %}
{% assign text = text | replace: 'Défense', '<span class="inline-type defense">Défense</span>' %}
{% assign text = text | replace: 'Déplacement', '<span class="inline-type deplacement">Déplacement</span>' %}
{% assign text = text | replace: 'Concentration', '<span class="inline-type concentration">Concentration</span>' %}
{% assign text = text | replace: 'Rhétorique', '<span class="inline-type rhetorique">Rhétorique</span>' %}



<div class="step {{class}}">
  <div class="step-text">{{text}}</div>
</div>
