/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.card * {
    box-sizing: border-box;
}


/**************** HD PRINT HACK ****************/
@media print {
    @page{
      size: 2381.1px 3326.0px;
    }
    .card {
       scale: 1000%;
       translate: 450% 450%;
    }
}

/*****************************/


.card {
  --width:63mm;
  --height:88mm;
  --border:5mm;
  --gap:2.5mm;

    font-family: 'Zarathustra';
    font-weight: bold;
    font-size: 9pt;

    width:var(--width);
    height: var(--height);
    
    border-radius: 2mm;

    background: black;
}



/*** CUSTOM BORDERS *****/

.card .title:after,
.card .step:after
{
  --border-image-slice-size:7mm;
  --border-image-slice-size-source:100;
  content: '';
  position:absolute;
  top:calc(-0.5 * var(--border-image-slice-size));
  left:calc(-0.5 * var(--border-image-slice-size));
  width:calc(100% - var(--border-image-slice-size));
  height:calc(100% - var(--border-image-slice-size) / 2);
  border: var(--border-image-slice-size) solid transparent;
  border-image: url("../img/bord.png");
  border-image-repeat: repeat;
  border-image-slice: var(--border-image-slice-size-source) fill;
  border-image-width: var(--border-image-slice-size);
}

/****************************************/


.card .content {
   width:calc(var(--width) - var(--border));
   height:calc(var(--height) -  var(--border));
    padding:calc(var(--border) / 2);
    padding-bottom: 0;
    position: relative;
    top:calc(var(--border) / 2);
    left:calc(var(--border) / 2);

    display: flex;
    flex-direction: column;
}

.card .header {
    flex-grow: 1;
}

.card .title {
  position: relative;
  padding: 0 .2em;
  font-family: 'Zarathustra';
  z-index:2;
}

.card .title:after {
  z-index:-1;
  border-image-source:url('../img/bord-titre.png');  
}

.card .type {
    left:1.5mm;
    top:0.5mm;
    position:relative;
    font-size: .6em;
    z-index: 2;
}

.card[data-type~="Attaque"] .title:after {
  border-image-source:url('../img/bord-titre-att.png');
}

.card[data-type~="Défense"] .title:after {
  border-image-source:url('../img/bord-titre-def.png');
}

.card[data-type~="Déplacement"] .title:after {
  border-image-source:url('../img/bord-titre-dep.png');
}

.card[data-type~="Passif"] .title:after {
  border-image-source:url('../img/bord-titre-pas.png');
}

.card[data-type~="Rhétorique"] .title:after {
  border-image-source:url('../img/bord-titre-rhe.png');
}

.card .illu {
    position: absolute;
    z-index: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.card .illu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(70%) brightness(110%);
}

.card .footer {
    display: flex;
    font-family: sans;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background: black;
    justify-content: space-between;
    font-size: .5em;
    padding-top: .5em;
    margin-top:var(--gap);
    z-index: 1;
}


/******* BIG TEXTS ******/


[data-card-style="bigtext"] .card .rules {

    width:100% !important;
}


[data-card-style="bigtext"] .card .rule{

    font-size: 1.1em !important;
}


[data-card-style="bigtext"] .card .rule sup{

    font-size: .8em !important;
    background: white;
    top:-4mm;
}



[data-card-style="bigtext"] .card .title {
        font-size: 1.1em !important;

}


[data-card-style="bigtext"] .card .types {
    display: inline-block;
        font-size: .8em !important;
    background: lightgrey;
        top:-1mm;


}

[data-card-style="altperm"] .card .rule.permanente,
[data-card-style="altperm"] .card .rule.intervention {
    margin-top: 1mm !important;
    margin-bottom: 2mm !important;
}

[data-card-style="altperm"] .card .rule.permanente:has(sup) {
    margin-top: 2.5mm !important;
}


[data-card-style="altperm"] .card .rule.permanente sup {
    top:-3.3mm;
}


[data-card-style="altperm"] .card .rule.permanente:after{
      border-image-source:url('../img/bord-etape-perm-alt.png') !important;  
}

[data-card-style="altperm"] .card .rule.permanente:has(sup):after{
      border-image-source:url('../img/bord-etape-perm-cible-alt.png') !important;  
}

[data-card-style="altperm"] .card .rule.intervention:after{
      border-image-source:url('../img/bord-etape-perm-pause-alt.png') !important;  
}


/***************************************/

.card .steps {
    display: flex;
    flex-direction: column;
    gap:var(--gap);
    width: 66%;
  
}

.step {  
  position:relative;
  padding: 0 .3em;
}


.step .step-text {
  position:relative;
  z-index: 2;

}

.step.effet:after {
  border-image-source:url('../img/bord-etape.png');  
}

.step.condition:after{
      border-image-source:url('../img/bord-etape-cond.png');  
}

.step.effet:has(sup):after{
      border-image-source:url('../img/bord-etape-cible.png');  
}

.step.permanente:after{
      border-image-source:url('../img/bord-etape-perm.png');  
}

.step.permanente:has(sup):after{
      border-image-source:url('../img/bord-etape-perm-cible.png');  
}

.step:has(sup){
      margin-top: 2mm;
}

.step.intervention:after{
      border-image-source:url('../img/bord-etape-pause.png');  
}
      

.step sup {
  display: block;
  position: absolute;
  top:-2.75mm;
  font-size: .6em;
}
      
 