    .card {
        box-shadow: none;
        backface-visibility: visible;
        transform-style: preserve-3d;
        padding: 0;
        height: auto;
        width: 18rem;
        height: 25rem;
        float: left;
        transition: all 0.2s ease-out;
        border: none;
    }





    .inner-card-backface {
        transform: rotateX(0) rotateY(0deg) scale(-1, 1) translateZ(-4px);
      border-radius: 14px;
      position: absolute;
      top: 0;
      color: white;
      padding: 2rem;
      box-sizing: border-box;
      transition: all 0.15s ease-out;
        will-change: transform, filter;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .card.flipped {
      transform: rotateY(180deg);
    }
    .card .flip-inner-card {
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      padding: 2rem 1.5rem;
      box-sizing: border-box;
      left: 0;
      width: 100%;
      height: 100%;
   }

    .card .inner-card {
        font-size: 2rem;
        color: white;
        padding: 1rem 2rem;
        line-height: 3rem;
        will-change: transform, filter;
        float: none;
        background: black;
        background-size: calc(100% + 6px) auto;
        background-position: -3px -3px;
        margin: 0;
        transition: all 0.15s ease-out;
        height: auto;
        border-radius: 14px;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
        margin: 0px auto;
        transform: rotateX(0deg) rotateY(0deg) scale(1);
        top: 0;
        height: 100%;
        filter: drop-shadow(0 15px 15px rgba(0,0,0,0.3));
        font-weight: 500;
        perspective-origin: 0 0;
        letter-spacing: 0;
    }
    .card .inner-card {

        background: pink;
    }

    .card .inner-card-backface {

        background: green;
    }


.card .glare {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.1s ease-out;
  opacity: 0.6;
  pointer-events: none;
  height: 100%;
  border-radius: 14px;
  z-index: 9999;
  mix-blend-mode: hard-light;
  background: radial-gradient(circle at 50% 50%, rgb(199 198 243), transparent);
}


