
body{
  font-family: 'Zarathustra';
  margin: 0 ;
  background:black;
  color:white;
  
}

body>*{
  margin:auto;
  max-width: 1000px;
}



/****************************************

HEADER   

****************************************/


body>header{
      position: sticky;
    top: 0;
    z-index: 3;
  background: black;
  border-bottom:1px solid gray;
  width: 100vw;
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
    gap:1em;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

body>header nav ul{
  list-style: none;
  display: flex;  
  flex-wrap: wrap;
  gap:1em;
  margin:0;
  padding: 0;
}

body>header nav a {
  font-weight:bold;
}

body>header a:hover {
  text-shadow: 0 0 1em white, 0 0 .5em white ;
}


body>header a {
  color:inherit;
  text-decoration: none;
}

body>header h1 {
  font-size:inherit;
  margin:0;
}

body>header  #menu-toggle {
  opacity: 0;
  display:none;
}

body>header #menu-button {
  display:none;
}



@media screen and (max-width: 800px) {

  body > header {

  }

  body>header h1 {
        z-index: 1;
  }
  body>header nav ul {
    flex-direction: column;
    text-align:right;
 }
  
  body>header #menu-toggle ~ ul {
    position:fixed;
    width:100%;
    top: -300px;
    transition: 1000ms;
    right:0;
    background: black;
    border-bottom:1px solid gray;
    padding:1em;
    padding-top:60px;
  }
  
  body>header #menu-toggle:checked ~ ul {
    top: 0 !important;
  }
  
  body>header #menu-button {
    --size:24px;
    display:block;
    width: var(--size);
    height: var(--size);
    right:20px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  
 body>header #menu-button > span{
     display:block;
     width: var(--size);
    height: var(--size);
    background-image:url('/assets/img/burger.svg');
       background-repeat: no-repeat;
   background-position: center;


 }
  
  body>header #menu-toggle:checked + #menu-button > span {
    background-image:url('/assets/img/quitter.svg');  
    } 
}


/****************************************

FOOTER   

****************************************/

body>footer {
  font-size: .7em;
  text-align: center;
}

body>footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap:2em;
}

body>footer p {
  margin: .2em;
}

body>footer a {
  color:inherit;
}

/****************************************

MAIN   

****************************************/



body>main {
  max-width:800px;
  border-radius: 2px;
  color:black;
  background: #ccc;
  background-image: url("/assets/img/papier-bg.jpg");
  padding: .5em 2em;
  margin: 1em auto;
  
}


/*************************************
divers
**************************************/

ul {
  padding-left:1em;

}


figure {
  background: white;
  padding: 1em;
  max-width:300px;
  float: right;
}
h2 {
  clear:both
}
