

body{
  background: #666;
  margin:0
}




#cards, #memos{
  
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
 gap:10px;
  padding: 10px;
  
}

#menu, #show-menu {
  background:yellow;
  border: 1px solid black;
  position: sticky;
  top:0;
  margin:0;
    z-index:10;
  padding:.5em;
}


.card:hover .infos {
  display:block;
  position:absolute;
    top:15px;
    left: 15px;
    z-index: 11;
    width:calc(100% - 30px);
    box-shadow: 3px 3px 0 black;
  background:yellow;
} 

.card .infos table {
    width:100%;
    border-collapse: collapse;
}

.card .infos tr * {
    border: 1px solid black;
    padding: 0 .3em;
    text-align: left;
}
.card .infos th {
    font-size: .8em;
}
.card .infos td {
    width: 100%;
}

.card > .warning {
  position: absolute;
  z-index: 10;
  background: yellow;
  display: inline-block;
  font-size:large;
  padding: 0 10px;
  top :20px;
  left: 20px;
  border:1px solid black;
  
  
}
/****************/

[data-show-menu="true"] #menu {
  display: block;
}

[data-show-menu="true"] #show-menu {
  display: none;
}

[data-show-menu="false"] #menu {
  display: none;
}

[data-show-menu="false"] #show-menu {
  display: block;
}

/****************/

[data-show-infos="true"] .card:hover .infos  {
  display: block;
}


[data-show-infos="false"] .card:hover .infos {
  display: none;
}


@media print {
  body{
    background: white;
    margin:0;
    padding: 0;
  }
  #cards, #memos{
    margin:0;
    padding:0;
    gap:0;
  }
  #menu, #show-menu, .infos {
    display: none !important;
  }
  .card {
     border-radius:0;
  }
  #cards>.card{
    break-after:always;
  }
  #cards {
    display: block;
  }

}

