
body{
  font-family: 'Zarathustra';
  margin: 0 ;
  background:black;
  color:white;
  
}

body>*{
  margin:auto;
  max-width: 1000px;
}



/****************************************

HEADER   

****************************************/


body>header{
      position: sticky;
    top: 0;
    z-index: 3;
  background: black;
  border-bottom:1px solid gray;
  width: 100vw;
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
    gap:1em;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

body>header nav ul{
  list-style: none;
  display: flex;  
  flex-wrap: wrap;
  gap:1em;
  margin:0;
  padding: 0;
}

body>header nav a {
  font-weight:bold;
}

body>header a:hover {
  text-shadow: 0 0 1em white, 0 0 .5em white ;
}


body>header a {
  color:inherit;
  text-decoration: none;
}

body>header h1 {
  font-size:inherit;
  margin:0;
}

body>header  #menu-toggle {
  opacity: 0;
  display:none;
}

body>header #menu-button {
  display:none;
}



@media screen and (max-width: 800px) {

  body > header {

  }

  body>header h1 {
        z-index: 1;
  }
  body>header nav ul {
    flex-direction: column;
    text-align:right;
 }
  
  body>header #menu-toggle ~ ul {
    position:fixed;
    width:100%;
    top: -300px;
    transition: 1000ms;
    right:0;
    background: black;
    border-bottom:1px solid gray;
    padding:1em;
    padding-top:60px;
  }
  
  body>header #menu-toggle:checked ~ ul {
    top: 0 !important;
  }
  
  body>header #menu-button {
    --size:24px;
    display:block;
    width: var(--size);
    height: var(--size);
    right:20px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  
 body>header #menu-button > span{
     display:block;
     width: var(--size);
    height: var(--size);
    background-image:url('/assets/img/burger.svg');
       background-repeat: no-repeat;
   background-position: center;


 }
  
  body>header #menu-toggle:checked + #menu-button > span {
    background-image:url('/assets/img/quitter.svg');  
    } 
}


/****************************************

FOOTER   

****************************************/

body>footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>footer>:not(:first-child){
    font-size: .7em;

}

body>footer nav {
  display: inline-block;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
body>footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  gap:2em;
}

body>footer nav a {
  font-weight:bold;
  text-decoration: none;
}

body>footer a:hover {
  text-shadow: 0 0 1em white, 0 0 .5em white ;
}


body>footer p {
  margin: .2em;
}

body>footer a {
  color:inherit;
}

/****************************************

MAIN   

****************************************/


body>main {
  max-width:800px;
  
}

body>main>header{
  text-align: center;
  margin:2em 0;
}

body>main>header #breadcrumbs {
  color: gray;
}

body>main>header #page-description {
 font-style: italic;
  margin:0;
}
body>main>header h1{
  margin:0;
}

body>main>header a{
  color:inherit
}

body>main>article{
    border-radius: 10px;
  color:black;
  background: #ccc;
  background-image: url("/assets/img/papier-bg.jpg");
  margin: 1em auto;
}


body>main>article>section {
    padding: .5em 2em;

}
body>main>article>section{
      border-radius: inherit;

  background-image: url("/assets/img/papier-bg.jpg");
    box-shadow: 0 -75px 70px 5px rgba(20,0,40,0.15);
}

body>main #page-excerpt {
  font-size:1.2em;
  padding: 2em;
}


body>main #directory-index {
  padding: 2em;
}


body>main #directory-index  .page-list ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:1em;
  padding: 0;
  margin: 0;
}


body>main #directory-index  .page-list  li {
  display: flex;
  flex-direction: column;
}


body>main #directory-index  .page-list a {
    font-size:1.2em;
}

/*************************************
divers
**************************************/


#phplistsubscriberesult{
  border:1px solid black;
  padding: 0 1.5em;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

#phplistsubscribeform  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}

#phplistsubscribeform input {
  font-size: 1em;
}

#phplistsubscribeform button {
    font-size: 1.2em;

}
ul {
  padding-left:1em;

}


figure {
     margin: 1.5em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.7em;
}

figure img {
  width:200px;
}

figure figcaption {
 font-size:.7em;  
}

h1 {
  text-align: center;
  font-size:3em;
  
}



h2 {
  text-align: center;
  border-bottom:1px solid black;
  margin-top:2em;
}

h2:first-child {
    margin-top:1em;


}

pre {
  border:1px solid gray;
  background: white;
  padding: 1em;
  white-space: pre-wrap;
    widh:100%;
  
}