
body{
  font-family: 'Zarathustra';
  margin: 20px;
  
}

body>*{
  margin:auto;
  max-width: 1000px;
}



body>header{
  border:1px solid blue;
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
    gap:1em;


}

@media screen and (max-width: 800px) {

  body>header nav ul {
    background: red;
    flex-direction: column;
  }
}

body>header nav ul{
  list-style: none;
  display: flex;  
  flex-wrap: wrap;
  gap:1em;
  margin:0;
  padding: 0;
}

body>header nav a {
  background:lightgrey;
}

body>header a {
  color:inherit;
  text-decoration: none;
}

body>header h1 {
  font-size:inherit;
  margin:0;
}