.card[data-edition="BF01"][data-version="alpha"] {
    font-size:9pt;
    color:black;
 }

.card[data-edition="BF01"][data-version="alpha"]>.content {
    /* Geometry */
    position: relative;
    top:-3mm;
    left:-3mm;
    width:calc(2.5in + 6mm);
    height:calc(3.5in + 6mm);
}

.card[data-edition="BF01"][data-version="alpha"]>.content:before {
       /* Frame Display */
    display: block;
    content:'';

    /* Frame Geometry */
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;


    /* Frame */
    background-image: url('../img/frames/BF01-alpha/content.png');
    background-size: 100% 100%;

}

.cardback>.content:before{
    display: none;
}

/******************************/
/*           ILLU             */
/******************************/

.card[data-edition="BF01"][data-version="alpha"]>.content>.illu {
    /* Geometry */
    position: relative;
    top:50%;
    left:50%;

    translate: -50% -50%;

    width:2.7in;
    height:3.7in;
    z-index: 0;
}

.card[data-edition="BF01"][data-version="alpha"]>.content>.illu>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card[data-edition="BF01"][data-version="alpha"]>.content>.illu>img{
    filter: contrast(50%) brightness(90%) sepia(100%) hue-rotate(170deg) grayscale(100%);
}

/******************************/
/*          HEADER            */
/******************************/

.card[data-edition="BF01"][data-version="alpha"]>.content>.header {
    /* Geometry */
    position: absolute;
    top:calc(3mm + 0.2in);
    left:calc(3mm + 0.2in);
    height:0.292in;
    width:2.1in;
    z-index: 1;

}

.card[data-edition="BF01"][data-version="alpha"]>.content>.header:before{
    /* Frame Display */
    display: block;
    content:'';

    /* Frame Geometry */
    position: absolute;
    top:-0.024in;
    left:-0.024in;
    width: 2.149in; /* Update with new files */
    height: 0.319in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title.png');
    background-size: 100% 100%;
}


.card[data-edition="BF01"][data-version="alpha"][data-type=Attaque]>.content>.header:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title-att.png');
}
.card[data-edition="BF01"][data-version="alpha"][data-type=Défense]>.content>.header:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title-def.png');
}
.card[data-edition="BF01"][data-version="alpha"][data-type=Déplacement]>.content>.header:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title-dep.png');
}
.card[data-edition="BF01"][data-version="alpha"][data-type=Concentration]>.content>.header:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title-con.png');
}
.card[data-edition="BF01"][data-version="alpha"][data-type=Rhétorique]>.content>.header:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/title-rhe.png');
}

.card[data-edition="BF01"][data-version="alpha"]>.content>.header>.title {
    /* Geometry */
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:0.167in;

    /* Text */
    line-height: 0.167in;
    padding: 0 .2em;
}

.card[data-edition="BF01"][data-version="alpha"]>.content>.header>.type {
    /* Geometry */
    position: absolute;
    bottom:0;
    left:0.04in;
    width:1.892in;
    height:0.1in;

    /* Text */
    font-size: 6pt;
    line-height: 0.104in;
    padding: 0 .1em;
    }

/******************************/
/*           STEPS            */
/******************************/


.card[data-edition="BF01"][data-version="alpha"]>.content>.steps{
    /* Geometry */
    position: absolute;
    bottom:calc(3mm + 0.3in);
    left:calc(3mm + 0.2in);
    width:1.417in;
    height: auto;
}

.card[data-edition="BF01"][data-version="alpha"] .step{
    /* Geometry */
    position: relative;
    width:1.417in;
    height:0.167in;

    margin-top:0.09in;
}

.card[data-edition="BF01"][data-version="alpha"] .step.intervention {
    /* Text */
    color:white;
}

.card[data-edition="BF01"][data-version="alpha"] .step>.step-text{
    /* Geometry */
    position: absolute;
    bottom: 0;
    height:0.167in;
    width: 100%;

    /* Text */
    line-height: 0.167in;
    padding: 0 .2em;
}

.card[data-edition="BF01"][data-version="alpha"] .step:before{
    /* Frame Display */
    display: block;
    content:'';

    /* Frame Geometry */
    position: absolute;
    top:-0.024in;
    left:-0.024in;
    width: 1.458in;
    height: 0.208in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step.png');
    background-size: 100% 100%;
}

.card[data-edition="BF01"][data-version="alpha"] .step.condition:before{
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-cond.png');
}

.card[data-edition="BF01"][data-version="alpha"] .step.permanente:before,
.step.intervention:before{
    /* Frame Geometry */
    top:-0.024in;
    left:-0.066in;
    width: 1.549in;
    height: 0.215in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-perm.png');
}

.card[data-edition="BF01"][data-version="alpha"] .step.intervention:before {
    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-stable.png');
}

/* Step with br */

.card[data-edition="BF01"][data-version="alpha"] .step>.step-text:has(br){
    /* Geometry */
    height:0.333in;
}

.card[data-edition="BF01"][data-version="alpha"] .step:has(br){
    /* Geometry */
    height:0.333in;
}

.card[data-edition="BF01"][data-version="alpha"] .step.permanente:has(br):before{
    /* Frame Geometry */
    height: 0.382in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-perm-big.png');
}

/* Step with br and target */

.card[data-edition="BF01"][data-version="alpha"] .step:has(br):has(sup){
    /* Geometry */
    height:0.457in;

}

.card[data-edition="BF01"][data-version="alpha"] .step.permanente:has(br):has(sup):before{
    /* Frame Geometry */
    height: 0.485in;
    top:-0.007in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-perm-target-big.png');
}


/* Step with Target */

.card[data-edition="BF01"][data-version="alpha"] .step:has(sup){
    /* Geometry */
    height:0.291in;
    margin-top:0.079in;

}

.card[data-edition="BF01"][data-version="alpha"] .step>.step-text sup {
    /* Geometry */
    position: absolute;
    top:-0.12in;
    left:0.04in;
    width:1.337in;
    height:0.10in;

    /* Text */
    font-size: 6pt;
    line-height: 0.104in;
    padding: 0 .1em;
}

.card[data-edition="BF01"][data-version="alpha"] .step:has(sup):before{
    /* Frame Geometry */
    top:0;
    height: 0.312in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-target.png');
}

.card[data-edition="BF01"][data-version="alpha"] .step.permanente:has(sup):before{
    /* Frame Geometry */
    top:-0.007in;
    height: 0.318in;

    /* Frame */
    background-image: url('../img/frames/BF01-alpha/step-perm-target.png');
}

/* Inline type */

.card[data-edition="BF01"][data-version="alpha"] .step .inline-type {
    /* Geometry */
    display: inline-block;

    /* Geometry */
    padding: .1em .5em;
    line-height: 6pt;

    /* Frame */
    border-radius:1em;

    /* Text */
    font-size: 6pt;
}

.card[data-edition="BF01"][data-version="alpha"] .inline-type.attaque {
    background:#f57d8c;
}

.card[data-edition="BF01"][data-version="alpha"] .inline-type.defense {
    background:#98bedd;
}

.card[data-edition="BF01"][data-version="alpha"] .inline-type.deplacement {
    background:#ffd887;
}

.card[data-edition="BF01"][data-version="alpha"] .inline-type.concentration {
    background:#88bc9b;
}

.card[data-edition="BF01"][data-version="alpha"] .inline-type.rhetorique {
    background:#b18eb2;
}

/* Small */

.card[data-edition="BF01"][data-version="alpha"] .steps small {
    font-size: 7.5pt;
}

.card[data-edition="BF01"][data-version="alpha"] .steps small small{
    font-size: 6pt;
}
/******************************/
/*           FOOTER           */
/******************************/


.card[data-edition="BF01"][data-version="alpha"]>.content>.footer{
    /* Geometry */
    position: absolute;
    bottom:calc(3mm + 0.1in - 0.01in);
    left:calc(3mm + 0.1in);
    width:2.3in;
    height:0.1in;
    z-index: 1;

    /* Flex */
    display: flex;
    justify-content: space-between;

    /* Text */
    line-height: 0.1in;
    color:white;
    font-family: 'Archivo Narrow';
    font-size:6pt;
}


.card[data-edition="BF01"][data-version="alpha"]>.content>.footer .treatment {
  --h:5pt;
  font-size: var(--h);
  display: inline-block;
  height: var(--h);
    line-height: var(--h);
  border:.4pt solid white;
    border-radius:.2em;
  width:1.5em;
  text-align: center;
  color:black;
  background: white;
  padding: 0 .1em;
}


.card[data-edition="BF01"][data-version="alpha"]>.content>.footer .treatment,
.card[data-edition="BF01"][data-version="alpha"]>.content>.footer .version {
  margin-left:.5mm;
}

.card[data-edition="BF01"][data-version="alpha"]>.content>.footer .id {
    display: flex;
    align-items: center;
    gap:.15em;
}
.version {
    padding: 0;
    max-height: 1em;
}
.version img{
    display: inline-block;
    max-width: 1em;
    line-height: 1em;
}
/******************************/
/*           VARIANT LF       */
/******************************/

.card[data-edition="BF01"][data-version="alpha"][data-treatment="LF"]>.content>.steps {
    transform-origin: bottom left;
    scale:145%;
    translate: 2%;
}


/******************************/
/*           VARIANT BL       */
/******************************/

.card[data-edition="BF01"][data-version="alpha"][data-treatment="BL"] .step:before,
.card[data-edition="BF01"][data-version="alpha"][data-treatment="BL"] .header:before
{
    opacity:.7;
}

.card[data-edition="BF01"][data-version="alpha"][data-treatment="BL"]>.content:before {
    background-image: url('../img/frames/BF01-alpha/content-bl.png');
}
