<!doctype html>
<html lang="fr">
<head>
 {% include head.html %}
</head>
<body>
 {% include header.html %}
  <main>
    <header>
      {% include breadcrumbs.html %}
      <h1 id="page-title">{{ page.title }}</h1>
      <p id="page-description">{{ page.description }}</p>
    </header>
    <article>

    {% if content %}
    <section id="page-content">
      {{ content }}
    </section>
    {% endif %}
      <section id="directory-index">
      {% include page-list.html %}
    </section>
    </article>
  </main>
  {% include footer.html %}
</body>
</html>
